.svg-icon {
    width: 20px;
    height: 20px;
}
.region {
    font-size: 12px;
    color: #719cb9;
    line-height: 14px;
}
:deep(.el-switch) {
    &.is-checked {
        .el-switch__core {
            background-color: #2fc6df !important;
        }
    }
    .el-switch__core {
        background-color: gray !important;
        border: none !important;
    }
}
.touch-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .mid-content {
        width: 100%;
        flex: 1;
        display: flex;
        gap: 2px;
        .left-content {
            width: 140px;
            height: 100%;
            background: #0a3350;
            .left-title {
                padding: 12px 0 8px 10px;
            }
        }
        .right-content {
            flex: 1;
            height: 100%;
            background: #0a3350;
            .region {
                padding: 12px 30px 0 30px;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .feed-back {
                margin-top: 16px;
                display: flex;
                padding: 0 30px;
                justify-content: space-between;
                &.customize {
                    flex-direction: column;
                    gap: 2px;
                    margin-top: 8px;
                }
                .female,
                .male {
                    width: 335px;
                    display: flex;
                    flex-direction: column;
                    gap: 2px;
                }
            }
        }
    }
    .top {
        padding: 19px 0 16px 13px;
        display: flex;
        align-items: center;
        .title {
            font-size: 14px;
            line-height: 16px;
            margin-right: 15px;
        }
    }
}
.item {
    display: flex;
    align-items: center;
    padding: 0 13px 0 10px;
    height: 33px;
    justify-content: space-between;
    &:nth-child(even) {
        background: #38607b;
    }
    .name {
        font-size: 12px;
        color: #ffffff;
        line-height: 14px;
    }
    :deep(.el-switch) {
        width: 20px;
        height: 12px;
        &.is-checked {
            .el-switch__action {
                left: calc(100% - 12px);
            }
        }
        .el-switch__core {
            width: 20px !important;
            height: 12px !important;
            min-width: 20px !important;
            display: flex;
            align-items: center;
            .el-switch__action {
                width: 12px;
                height: 12px;
            }
        }
    }
}
.action-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 68px;
    background: #38607b;
    padding: 4px 5px 3px 5px;
    .action-name {
        display: -webkit-box;
        -webkit-line-clamp: 2; /* Limit the number of displayed lines */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
        color: #ffffff;
        line-height: 18px;
    }
    .action-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .path {
            font-size: 12px;
            color: #719cb9;
            line-height: 18px;
        }
    }
}
.svg {
    display: flex;
    align-items: center;
    gap: 4px;
}
.add {
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
        font-size: 12px;
        color: #ffffff;
        line-height: 14px;
    }
}
